table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #d1d5db;
}

thead tr {
    background-color: #f3f4f6;
}

th, td {
    padding: 0.5rem 1rem;
    border: 1px solid #d1d5db;
}

tr {
    border-bottom: 1px solid #e5e7eb;
}

th {
    text-align: center;
}

td:first-child {
    text-align: left;
}

.checkbox-cell {
    text-align: center;
    border-left: 1px solid #d1d5db;
}